<h1>Your Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= "#{task.name}" %></strong>
    </li>
    <p>
      <%= "#{task.description} is Due: #{task.completion_date}" %>
    </p>
  <% end %>
</ol>
